<div class="container p-3">
    <div class="row pt-2">
        <div class="col-6">
            <h2 class="text-primary">Lend Requests List</h2>
        </div>
        
    </div>
    <br /><br />

<table id="tblDataLendBook" class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>Book Name</th>
            <th>Customer UserName</th>
           <th>Status</th>
            <th>Lend Date</th>
            <th>Expected Return Date</th>
            <th></th>
        </tr>
    </thead>
    
</table>
</div>

@section Scripts{
    <script src="~/js/LendBook.js"></script>
}