@model List<BooksModel>

    <div class="jumbotron my-5">
  <h1 class="display-6 text-center">Library Management System</h1>
  <p class="h4 text-center">Satisfy the thirst of knowledge!</p>
  <hr class="my-4">
  <p class="text-center">Search the books You want to Lend</p>
  <form class="d-flex" method="post" asp-action="Index">
        <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>

<div class="row pb-3">
    @foreach (var book in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">

                <div class="col-12 p-1" style="border:1px solid #008cba;border-radius:5px;">
                    <div class="card h-100">
                        <img src="@book.ImageUrl" class="card-img-top rounded" style="height:240px;width:258px;" />
                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title text-dark text-center fw-bold text-uppercase">@book.Title</p>
                                <p class="card-title text-dark text-center text-capitalize" >by <b>@book.Author</b></p>
                                <p class="card-title text-dark text-center text-capitalize"> <b>@book.Publisher</b></p>
                            </div>
                           
                        </div>
                        <div>
                                <a asp-action="LendBookDetails" class="btn btn-dark form-control" asp-route-id=@book.Id>
                                    Lend Book
                                </a>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>